<!Doctype html>
<html>

<head>
    <link rel="stylesheet" href="static/css/site.css">
    <title>Django Application</title>
</head>

<body>
    <div class="main-container">
        <div class="content">
            <div class="content-body">
                <div class="success-text">상세 정보</div>
                <div class="animal-container">
                <table>
                    <tbody>
                    <tr>
                        <th>사진</th>
                        <!-- 아래 src 자리에 이미지 주소를 넣어주세요. -->
                        <td><img src="static/img/giraffe.png"></td>
                    </tr>
                    <tr>
                        <th>종류</th>
                        <td><!-- 동물 종류가 무엇인가요? --></td>
                        
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td><!-- 이름을 정해주세요. --></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>