<!Doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/css/site.css">
    <title>Django Application</title>
</head>
<body>
    <div class="main-container">
        <div class="cloud-image">
            <img src="static/img/giraffe.png" alt="Naming">
        </div>
        <div class="content">
            <div class="tweet-container">
                <!-- Input Name -->
                <a href="/animal">상세 정보</a>
            </div>
            <div class="content-body">
                <div class="success-text">안녕하세요!</div>
                
            </div>
        </div>
    </div>
</body>
</html>
