<!Doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="static/css/site.css">
    <title>Node.js Application</title>
</head>
<body>
    <div class="main-container">
        <div class="cloud-image">
            <img src="static/img/giraffe.png" alt="Naming">
        </div>
        <div class="content">
            <div class="tweet-container">
                <!-- Input Name -->
                <a href="/animal">동물 입양</a>
            </div>
            <div class="content-body">
                <div class="success-text">꾸며주세요!</div>
                <!-- 
                <div class="description line-1"> Azure DevOps Project has been successfully setup </div>
                <div class="description line-2"> Your Node.js app is up</div>
                 -->
            </div>
        </div>
    </div>
</body>
</html>
